[user]
  name = zouzonghua
  email = zouzonghua.cn@gmail.com
[push]
  default = simple
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[alias]
  # 新增暂存区文件
  a = "!git status --short | peco | awk '{print $2}' | xargs git add"
  # 撤销暂存区文件
  ra = "!git status --short | peco | awk '{print $2}' | xargs git reset"
  # 撤销已删除的暂存区文件
  rad = "!git status --short | peco | awk '{print $2}' | xargs git reset -q HEAD --"
  # 撤销本地更改
  re = "!git status --short | peco | awk '{print $2}' | xargs git checkout --"
  # 撤销已提交的文件
  rc = "!git log --pretty=oneline | peco | awk '{print $1}' | xargs git reset --soft"
  # 对比文件差异
  d = "!git status --short | peco | awk '{print $2}' | xargs git difftool -y HEAD"
  # 对比全部文件差异
  da = difftool -y
  # 对比线上文件差异
  df = "!git hist | peco | awk '{print $2}' | xargs -I {} git difftool -y {}^ {}"
  # 推送代码 获取当前分支名
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  # 拉取代码 获取当前分支名
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  # 当前状态
  st = status
  # 提交历史
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
  # 提交日志
  llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative

  pick = cherry-pick
  pickc = cherry-pick --continue

  co = checkout
  cob = checkout -b

  ci = commit
  ca = commit -a

  br = branch
  ba = branch -a
  bm = branch --merged
  bn = branch --no-merged

[github]
  ser = zouzonghua
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process

